BackupManager/ConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="ConfigSchema" attributeFormDefault="unqualified"
           xmlns="ConfigSchema.xsd"
           targetNamespace="ConfigSchema.xsd"
           elementFormDefault="qualified" xmlns:mstns="ConfigSchema.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Config">
    <xs:annotation>
      <xs:documentation> ReSharper disable MarkupTextTypo </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="BackupDisk" maxOccurs="1" minOccurs="1">
          <xs:annotation>
            <xs:documentation>The backup disk path</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="BackupDiskDaysToReportSinceFilesChecked" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>After this many days the backup warns to check the disks again</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="BackupDiskDifferenceInFileCountAllowedPercentage" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A bigger percentage difference than this and the backup stops</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:long" name="BackupDiskMinimumCriticalSpace" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>MinimumCriticalBackupDiskSpace in MB</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:long" name="BackupDiskMinimumFreeSpaceToLeave" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>MinimumFreeSpaceToLeaveOnBackupDisk in MB</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="DirectoriesDaysBetweenFullScan" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:boolean" name="DirectoriesFileChangeWatcherOnOff" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:boolean" name="DirectoriesRenameVideoFilesOnOff" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:boolean" name="DirectoriesRenameVideoFilesForFullScansOnOff" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="DirectoriesRenameVideoFilesRegEx" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Any files matching this will be checked for correct name and renamed if not correct</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="DirectoriesFileChangeWatcherRestartDelay" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="DirectoriesFilterRegEx" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Only files matching this filter are used for File System scanning</xs:documentation>
          </xs:annotation>
        </xs:element>
        <!-- ReSharper disable once MarkupAttributeTypo -->
        <xs:element type="xs:string" name="PlexToken" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A valid PlexPass token</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="DirectoriesMinimumAgeBeforeScanning" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>in seconds</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:long" name="DirectoriesMinimumCriticalSpace" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Minimum critical space in MB</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="DirectoriesMinimumReadSpeed" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Minimum read speed in MB/s</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="DirectoriesMinimumWriteSpeed" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Minimum write speed in MB/s</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="DirectoriesProcessChangesTimer" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>in seconds</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="DirectoriesScanTimer" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>in seconds</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="FilesToScanForChanges" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The number of recent file changes to scan for changed directories</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="DuplicateContentHashCodesDiscoveryRegex" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="DuplicateFilesRegex" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:boolean" name="MonitoringCheckLatestVersions" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:unsignedShort" name="MonitoringInterval" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Monitor interval in seconds</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:boolean" name="MonitoringOnOff">
          <xs:annotation>
            <xs:documentation>When true the service monitoring starts when the app starts</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:boolean" name="MonitoringStartDelayOnOff" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Monitor start is delayed until after the first monitoring interval</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element type="xs:boolean" name="PushoverOnOff" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>True to enable sending Pushover messages</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:boolean" name="PushoverSendLowOnOff" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:boolean" name="PushoverSendNormalOnOff" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:boolean" name="PushoverSendHighOnOff" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:boolean" name="PushoverSendEmergencyOnOff" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:string" name="PushoverUserKey" maxOccurs="1" minOccurs="0" />
        <xs:element type="xs:int" name="PushoverWarningMessagesRemaining" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Sends a high priority message once this limit is passed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:boolean" name="ScheduledBackupOnOff" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>When true a backup scan will run when scheduled</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:boolean" name="ScheduledBackupRunOnStartup" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>When true a backup scan will run when the app starts</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:time" name="ScheduledBackupStartTime" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>ScheduledBackupStartTime as hh:mm:ss</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="SpeedTestFileSize" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Size of disk speed test file in MB</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:int" name="SpeedTestIterations" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Number of disk speed test iterations to run</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:boolean" name="SpeedTestOnOff" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>If True we test the speed of the disks</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="FileRenameRules" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FileRenameRule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="FileDiscoveryRegex" maxOccurs="1" minOccurs="1" />
                    <xs:element type="xs:string" name="Search" maxOccurs="1" minOccurs="1" />
                    <xs:element type="xs:string" name="Replace" maxOccurs="1" minOccurs="1" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Monitors" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Monitor" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="Url" maxOccurs="1" minOccurs="0" />
                    <xs:element type="xs:int" name="Timeout" maxOccurs="1" minOccurs="0" />
                    <xs:element type="xs:string" name="ProcessToKill" maxOccurs="1" minOccurs="0" />
                    <xs:element type="xs:string" name="ApplicationToStart" maxOccurs="1" minOccurs="0" />
                    <xs:element type="xs:string" name="ApplicationToStartArguments" maxOccurs="1" minOccurs="0" />
                    <xs:element type="xs:int" name="MaximumFailures" maxOccurs="1" minOccurs="0" />
                    <xs:element type="xs:string" name="Name" maxOccurs="1" minOccurs="1" />
                    <xs:element type="xs:int" name="Port" maxOccurs="1" minOccurs="0" />
                    <xs:element type="xs:string" name="ServiceToRestart" maxOccurs="1" minOccurs="0" />
                    <xs:element name="ApplicationType" maxOccurs="1" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <!-- ReSharper disable MarkupAttributeTypo -->
                          <xs:enumeration value="Unknown" />
                          <xs:enumeration value="Plex" />
                          <xs:enumeration value="PlexPass" />
                          <xs:enumeration value="SABnzbd" />
                          <xs:enumeration value="Sonarr" />
                          <xs:enumeration value="Radarr" />
                          <xs:enumeration value="Bazarr" />
                          <xs:enumeration value="Prowlarr" />
                          <!-- ReSharper restore MarkupAttributeTypo -->
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="BranchName" maxOccurs="1" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="master" />
                          <xs:enumeration value="develop" />
                          <xs:enumeration value="v3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:int" name="FailureTimePeriod" maxOccurs="1" minOccurs="0" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DirectoriesToBackup" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <!-- ReSharper disable once GrammarMistakeInMarkupText -->
            <xs:documentation>List each UNC path that you want to scan for files to backup here</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Directory" maxOccurs="unbounded" minOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DirectoriesToHealthCheck" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <!-- ReSharper disable once GrammarMistakeInMarkupText -->
            <xs:documentation>List each UNC path that you want to check for health here</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Directory" maxOccurs="unbounded" minOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="PushoverAppTokens" maxOccurs="1" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Pushover messages are sent to this App Token until any limit reached and then the next</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Token" maxOccurs="unbounded" minOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Filters">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FilterRegEx" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>RegEx's of file to ignore when executing a scan</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FilesToDelete" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FilesToDeleteRegEx" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SymbolicLinks" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SymbolicLink" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Matches for the Regex are processed and created if required</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="RootDirectory" maxOccurs="1" minOccurs="1" />
                    <xs:element type="xs:string" name="FileDiscoveryRegEx" maxOccurs="1" minOccurs="1" />
                    <xs:element type="xs:string" name="RelativePath" maxOccurs="1" minOccurs="1" />
                    <xs:element type="xs:string" name="PathToTarget" maxOccurs="1" minOccurs="1" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DisksToSkipOnRestore" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Disks" maxOccurs="unbounded" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>